{
  "presets": [["@babel/preset-env",{"useBuiltIns": "usage","modules": false}]],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "version": "7.0.0-beta.0",
        "corejs": 3
      }
    ]
  ]
}
